html
    head
        link(rel="stylesheet", href="/css/index.css")
    body
        div.header.shadow
            h1 Demo Library 
        main
            div.form_container
                div.form_header Add Book
                form(action="/api/books" method="post")
                    div.form_group
                        input(type="text" placeholder="Book Title" name="title" class="input_title")
                    div.form_group
                        input(type="text" placeholder="Author" name="author" class="input_author")
                    div.form_group
                        button( type="button" class='btn-add' onClick=`addBook(event)`) Add
                div.hint Want to build your own library? Check out the 
                    a(href="/api" class="api_link" target="_blank") API Explorer →
                    span  to see how it works. 


            div.shadow.container
                table
                    thead
                        tr
                            th Title
                            th Author
                            th Comments
                            th 
                    if books.length > 1
                    for book in books
                        tr
                            td 
                                a(href=`/book/${book.id}`) #{book.title}
                            td 
                                a(href=`/book/${book.id}`) #{book.author}
                            td 
                                a(href=`/book/${book.id}`)
                                    span.commentcount #{book.commentcount}
                            td.controls
                                a(class='delete' onClick=`deleteBook(${book.id})`) Delete
                    else
                        tr  
                            td(colspan="4" style="width:100%") No books found
    script. 
        var deleteBook = async (book)=>{
               try {
        const response = await fetch(`/api/books/${book}`, {
          method: 'delete',
        });
        location.reload()
               }
        catch(error){

            console.log(error)
        }
        }

         var addBook = async (e)=>{
             e.preventDefault()
               try {
        const form = event.target.form;
        console.log(form)
      
        const body = new URLSearchParams([...new FormData(form)])


        console.log(body)

         const response = await fetch(`/api/books`, {
          method: 'post',
          body: body,
        });

        if(response.status ==200){
            location.reload()
        }
               }
       
        catch(error){

            console.log(error)
        }
        }